extends layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title #{itemName}
    div.panel-body
      dl.dl-horizontal
        dt Catégorie
        dd #{foodCategoryName}
  table.table.table-striped
    thead
      tr
        th #
        th Date Ajout
        th Emplacement
        th Actions
    tbody 
      each item, i in items
        tr 
          td.col-md-1= i
          td.col-md-3= item.additionDate
          td.col-md-3 
            span(class="glyphicon glyphicon-arrow-#{item.location}" aria-hidden="true")
          td.col-md-4
            a.btn.btn-success(href="./item_create_copy?copyId=#{item._id}&refererUrl=#{encodeURI('./item_group_details?itemName='+itemName)}" role="button")
              span.glyphicon.glyphicon-plus(aria-hidden="true")
            a.btn.btn-danger(href="./item_delete?_id=#{item._id}&itemName=#{encodeURI(itemName)}&refererUrl=#{encodeURI('./item_group_details?itemName='+itemName)}" data-method="delete" role="button")
              span.glyphicon.glyphicon-minus(aria-hidden="true")
      else
        tr
          td sorry, no items!